.carousel-bg .carousel-inner .item {
  background-color: darkslategrey;
  background-size: cover;
  background-position: center;
  min-height: 360px;
}
.servicesbg1
{
	background-color: #ca0d0d;
  background-image: url();
	border-radius: 10px;
	padding: 12px 10px;
	margin-bottom: 5%;
}
.servicesbg2
{
	background-color: #000;
	border-radius: 10px;
	padding: 12px 10px;
	margin-bottom: 5%;
}
.icon
{
	text-align: center;
	color: #fff;
}
.servcntnt
{
	text-align: center;
	color: #fff;
}
.servcntnt h4
{
	color: #fff !important;
	font-weight: bold;
}
.servcntnt1
{
	text-align: center;
	color: #000;
}
.servcntnt1 h4
{
	color: #000 !important;
	font-weight: bold;
}
.abtty
{
	text-align: center;
	width: 100%;
}
.abtty h5
{
	color: #f00;
}
.abtty hr
{
	border: 2px solid #a6822c;
	width: 100px;
}
.mrgtp-50
{
	margin-top: 50px;
}
.abtcntnts p
{
	padding-top: 10%;
}
.servourttl
{
	width: 100%;
}
.servourcnts
{
	margin-top: 5%;
	width: 100%;
}
.linksbg
{
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
	width: 95%;
	display: inline-block;
	text-align: left;
	background-color: #000;
	padding: 60px 30px;
}
.linksbg h4
{
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}
.linksbg a
{
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}
.linksbg a:hover
{
	color: #fbff00;
}
.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}
.projects
{
	width: 100%;
	padding: 50px 0;
}
.projects h3
{
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}
.projects h5
{
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}
.projects1
{
	width: 100%;
	padding: 10px 0;
}
.projects1 h3
{
	padding-left: 5%;
	color: #000;
}
.projects1 h5
{
	padding-left: 5%;
	color: #000;
}

.projcntnts
{
	width: 100%;
}
.prodets
{
	width: 100%;
	height: 400px;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	padding:60px 30px; 
}
.prodets h4
{
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}
.prodets p
{
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	margin-bottom: 0 !important;
}
.viewbtn
{
	background-color: transparent;
	border: 3px solid #ffc522;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}
.projectsec
{
	background-image: url('../images/4_jinto.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5% 2% 5% 2%;
}
.site-footer i
{
	color: #f23a2e;
}



.brand {
  text-align: center;
}


.p1:hover, .p2:hover {
  opacity: .3;
  cursor: pointer;
}



#portfolio p {
  color: grey;
  font-size: 12px;
  font-weight: 200;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.single-content img {
  width: 250px;
  height: 100%;
  margin: 10px;
}

.filters {
  width: 100%;
}

.prjctscls {
  list-style: none;
  padding: 20px 0;
}

.prjclsli {
  display: inline;
  padding: 10px 25px;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.prjclsli:hover {
  color: #a6a6a6;
}

.prjclsli.active {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 15px;
}










#image-gallery
{
  max-height: 375px;
  min-height: 325px;
  overflow-y: scroll;
}
#gallery {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 60px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  img {
    width: 100%;
  }
}
.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none; 
  user-select: none; 
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
        width: 60%;
    }
    @media screen and (min-width:1200px) {
        width: 50%;
    }
  }
}

#nextButton {
  position: absolute;
  right: 10px;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#prevButton {
  position: absolute;
  left: 10px;
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 35px;
  right: 10px;
  right: 25px;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}
@media screen and (min-width: 768px)
{
	#exitButton
	{
    top: 35px;
    right: 10px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px)
{
	.site-blocks-cover h1
	{
		font-size: 4rem;
	}
}

.img_back
{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-size: cover;
  display: inline-block;
  background-position: center;
}

.testmoimg
{
    display: inline-block;
  height: 130px;
  width: 130px;
  border-radius: 130px;
  background-size: cover;
  background-position: center;
}